!!!
%html
  %head
    %script{ src: "/js/vendor/jquery-1.4.4.js" }
    %script{ src: "/js/vendor/flot/jquery.flot.js" }
  %body
    %h1 Welcome to Wrak
    %h2
      = "Event: " + name
    
    %p
      = JSON.stringify(events)
